@media (max-width: 768px) {

    /* Header */
    .header-box {
        flex-direction: column;
        padding: 2vh 4vw;
        gap: 2vh;
    }

    .witflix-logo {
        height: 5vh;
    }

    .header-box {
        flex-direction: column;
    }

    .search-div {
        display: flex;
        align-items: center;
        padding: 2vh;
        gap: 2.5vw;
    }

    .header-nav {
        flex-wrap: wrap;
        gap: 2vw;
        justify-content: center;
    }

    .search-box {
        padding: 1vh;
        font-size: 14px;
        border: 1px solid #ccc;
        outline: none;
        flex-grow: 1;
    }

    .search-icon {
        height: 2.5vh;
        width: 2.5vh;
        cursor: pointer;
        margin-left: -6.5vh;
    }


    /* Hero Video */
    .hero-video {
        height: 50vh;
    }

    .content {
        padding: 2vh 4vw;
        width: 80%;
    }

    .hero-button {
        padding: 1vh 1.5vw;
        font-size: 14px;
    }

    /* Section */
    section {
        padding: 2vh 2vw;
    }

    .movie-card {
        width: 40vw;
        height: 22vh;
    }

    .movie-card-content {
        width: 60%;
        font-size: 10px;
    }

    .play-button {
        padding: 0.5vh 1vw;
        font-size: 12px;
    }

    /* Footer */
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2vh 4vw;
        font-size: 12px;
    }

    .footer-helps {
        width: 100%;
        margin-bottom: 2vh;
    }

    .footer-helps nav {
        flex-wrap: wrap;
        gap: 4vw;
        justify-content: center;
    }

    .footer-socials,
    .apps {
        align-items: center;
    }

    .footer-socials img {
        width: 25px;
        height: auto;
    }

    .footer-socials p,
    .apps p {
        margin: 1vh 0;
    }

    .switch {
        width: 40px;
        height: 20px;
    }

    .apps-icon {
        width: 40px;
        height: 20px;
    }
}